!!! 5
%html(lang="en")
  %head
    %title Chris Chua
    %script( src="lib/jquery/jquery-1.8.0.min.js" )
    %script( src="lib/bootstrap/js/bootstrap.min.js" )
    %script( src="lib/d3/d3.v2.js" )
    %link( rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" )
    %link( rel="stylesheet" href="lib/bootstrap/css/bootstrap-responsive.min.css" )
    %link( rel="stylesheet" href="my.css" )
  %body( style="padding: 30px" )
    .container-fluid
      #me.hero-unit
        %h1 Chris Chua
        %p Visualizing with code.
        %p( style="text-align: center" )
          %a( class="btn btn-large pull-left" href="http://blog.sirh.cc/" ) Blog
          %a( class="btn btn-large" href="http://github.com/chrisirhc/" ) Code
          %a( class="btn btn-large pull-right" href="http://about.me/chrisirhc" ) about.me
      #svg-container( style="text-align: center" )
    %script( src="my.js" )
